(
    axes: {
        "both": Emulated(pos: Key(W), neg: Key(S)),
        "left_paddle": Emulated(pos: Key(Q), neg: Key(A)),
        "right_paddle": Emulated(pos: Key(Up), neg: Key(Down))
    },
    actions: {}
)